__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.DS_store
.vscode

.pytest_cache

.venv

checkpoints

# data
covr/data/covr-r
covr/data/val_test-covr-r
covr/data/rich-text-covr

features/**
!features/*/
!features/*/.gitkeep